body {
  position: relative;
  width: 1280px;
  height: 1166px;
  background: #dddddd;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.pro {
  position: absolute;
  width: 1245px;
  height: 461px;
  left: 15px;
  top: 10px;
  background: #8f9bc7;
}
.skill {
  position: absolute;
  width: 348px;
  height: 30px;
  left: 674px;
  top: 170px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.rata {
  position: absolute;
  width: 335px;
  height: 144px;
  left: 674px;
  top: 200px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.nama {
  width: 340px;
  height: 76px;
  left: 670px;
  top: 88px;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.image {
  position: relative;
  width: 338px;
  height: 337px;
  left: 126px;
  top: 70px;
  background: url("elon\ 1.png");
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border: none;
  border-radius: 168.5px;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  opacity: 1;
}
.image:hover {
  opacity: 0.5;
}
.sk {
  position: absolute;
  width: 446px;
  height: 566px;
  left: 807px;
  top: 491px;
  background-color: #8f9bc7;
  border: 5px solid black;
}
.sk h4 {
  top: 35px;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.sk h3 {
  margin: 0;
  padding: 0;
  top: -35px;
  left: 10px;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-decoration-line: underline;
  color: #000000;
}
.sk h5 {
  margin: 0;
  padding: 0;
  top: 200px;
  left: 10px;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-decoration-line: underline;
  color: #000000;
}
.sk h1 {
  margin: 0;
  padding: 0;
  top: 270px;
  left: 60px;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.wa {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 820px;
  top: 782px;
  background: url("wa\ 1.png");
}
.em {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 820px;
  top: 844px;
  background: url("gmail\ 1.png");
  background-repeat: no-repeat;
}
.ln {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 820px;
  top: 890px;
  background: url("linkedin\ 1.png");
  background-repeat: no-repeat;
}
.fox {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 820px;
  top: 940px;
  background: url("fox.png");
  background-repeat: no-repeat;
}
.ab {
  position: absolute;
  width: 772px;
  height: 566px;
  left: 15px;
  top: 491px;
  background-color: white;
  border: 5px solid black;
}
.about {
  position: absolute;
  width: 160px;
  height: 42px;
  left: 20px;
  top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-decoration-line: underline;
  color: #000000;
  margin: 0;
  padding: 0;
}
.form {
  width: 700px;
  height: 483px;
  left: 20px;
  top: 80px;
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
  text-align: justify;
}

.foot {
  position: absolute;
  width: 1250px;
  height: 60px;
  left: 15px;
  top: 1086px;
  background: #8f9bc7;
}
.text {
  position: absolute;
  width: 340px;
  height: 16px;
  left: 465px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  #leftsidebar {
    width: 200px;
    float: left;
  }
  #main {
    margin-left: 216px;
  }
  .image {
    position: relative;
    width: 100px;
    height: 100px;
    left: 126px;
    top: 60px;
    background: url("elon\ 1.png");
    border: 2px solid #dddddd;
    box-sizing: border-box;
    border: none;
    border-radius: 168.5px;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
  }
}
